{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - LOGIN
{% endblock %}

{% block body %}
<h1>Connexion</h1>

    <form method="post">
        <div class="form-group">
            <label >Email</label>
            <input type="text" name="_username" class="form-control" value="{{ last_username }}">
        </div>
        <div class="form-group">
            <label >Mot de passe</label>
            <input type="password" name="_password" class="form-control">
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-primary">Connexion</button>

        </div>
    </form>
{% endblock %}


