{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Inscription
{% endblock %}

{% block body %}
<h1>Inscription</h1>




        {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <div class="text-right">
            <button type="submit" class="btn-outline-primary">S'inscrire</button>
        </div>

        {{ form_end(form) }}




{% endblock %}



