{% extends 'base.html.twig' %}

{% block title %}{{ category }} - {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ category }}</h1>

    <h4>Derniers articles :</h4>

    {% for article in articles %}
        <div class="list-group">
        <a href="{{ path('app_article_index',{'id' : article.id }) }}" class="list-group-item list-group-item-action list-group-item-dark">
           {{ article.title }}
        </a>
        </div>
        <br>
        {% else %}
        <p>Auncun article dans cette catégorie.</p>

    {% endfor %}


{% endblock %}
