<div class="navbar-collapse">
    <ul class="navbar-nav">
        {% for category in categories %}
            <li class="nav-item">
                <a href="{{ path('app_category_index',{'id': category.id}) }}" class="nav-link">{{ category }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

