{% extends 'base.html.twig' %}

{% block title %}
Formulaire contact
{% endblock %}
{% block body %}
<h2>Formulaire de contact</h2>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.content) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}