{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edition catégorie</h1>

   {{ form_start(form) }}

    {{ form_row(form.name) }}
        <div class="text-right">
            <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
            <a href="{{ path('app_admin_category_index') }}" class="btn btn-secondary">Retour</a>
        </div>
    {{ form_end(form) }}


{% endblock %}

