{% extends 'base.html.twig' %}

{% block body %}


    <p>

            <a href="{{ path('app_admin_category_edit') }}">
                <button class="btn btn-outline-primary mt-3">Ajouter une catégorie</button>
            </a>

    </p>

    <div class="table-responsive mb-3">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <td colspan="4" class="bg-info" align="center"><h2>Gestion catégories</h2></td>
            </tr>
            <tr>
                <th scope="col" width="50px">ID</th>
                <th scope="col">Nom</th>
                <th width="100px"></th>
                <th width="100px"></th>
            </tr>
            </thead>
        <tbody>
        {% for categorie in list %}
            <tr>
                <th scope="row">
                    <b>{{ categorie.id }}</b>
                </th>
                <td>
                    <b>{{ categorie.name }}</b>
                </td>
                <td>
                    <a href="{{ path('app_admin_category_edit',{'id': categorie.id }) }}">
                        <button class="btn btn-outline-info">Modifier</button>
                    </a>
                </td>
                <td class="bg-dark">
                    <a href="{{ path('app_admin_category_delete',{'id': categorie.id }) }}">
                        <button class="btn btn-outline-danger">Supprimer</button>

                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}