<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SYMFONY BLOG{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('lib/bootstrap/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <div class="container navbar-nav">
            <a class="navbar-brand" href="{{ path('app_admin_category_index') }}">
                Admin
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_category_index') }}">
                            Gestion Catégories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_article_index') }}">
                            Gestion Articles
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container navbar-nav">
                <a class="navbar-brand" href="{{ path('app_index_index') }}">
                    Blog
                </a>
                {{ render(controller('App\\Controller\\CategoryController::menu')) }}
                <ul class="navbar-nav">
                    {% if app.user is null %}
                    <li class="nav-item">
                        <a href="{{ path('app_security_register') }}" class="nav-link btn btn-outline-primary">
                            Inscription
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app_security_login') }}" class="nav-link btn btn-outline-primary ml-2">
                            Connexion
                        </a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <span class="nav-link">
                                <b> {{ app.user }} </b>
                            </span>
                        </li>
                    <li class="nav-item">
                        <a href="{{ path('app_security_logout') }}" class="nav-link btn btn-outline-primary ml-2">
                            Déconnexion
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('app_index_contact') }}" class="nav-link btn btn-success ml-2">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    {#  if car pas de alert 'error' dans bootstrap#}
                    {% if type == 'error' %}
                        {% set type = 'danger' %}
                    {% endif %}
                    <div class="alert alert-{{ type }} mt-2">
                        {# filtre raw pour interpreter les balises html #}
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
