{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>



    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <strong>Formulaire de recherche</strong>
        </div>
        <div class="card-body">
            {{ form_start(search_form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.title) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.category) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(search_form.start_date) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(search_form.end_date) }}
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-success">Rechercher</button>
        </div>
        {{ form_end(search_form) }}

    </div>
    <div class="text-right mb-3">
        <a href="{{ path('app_admin_article_edit') }}" class="btn btn-outline-primary">Ajouter</a>
    </div>
    <table class="table table-bordered">
        <tr class="bg-primary">
            <th class="text-center">Id</th>
            <th class="text-center" width="400">Titre</th>
            <th class="text-center">Date de publication</th>
            <th class="text-center">Catégorie</th>
            <th class="text-center" width="300">Autheur</th>
            <th class="text-center">Commentaires</th>
            <th width="300px" class="text-center">Action</th>
        </tr>

        {% for article in articles %}

            <tr>
                <td class="text-center">{{ article.id }}</td>
                <td class="text-center">{{ article.title }}</td>
                <td class="text-center">{{ article.publicationDate|date('d/m/Y') }}</td>
                <td class="text-center"><cite><b>{{ article.category }}</b></cite></td>
                <td>{{ article.author }}</td>
                <td class="text-center">

                        <b>{{ article.comments|length }}</b>
                    {% if article.comments|length > 0 %}
                        <p class="text-center">
                        <a href="{{ path('app_admin_article_comments',{'id': article.id }) }}" class="btn btn-info">Voir</a>
                        </p>
                    {% endif %}

                </td>
                <td class="text-center">
                    <a href="{{ path('app_admin_article_edit',{'id' : article.id }) }}" class="btn btn-outline-success">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_article_delete',{'id' : article.id }) }}" class="btn btn-outline-danger">Supprimer</a>

                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">
                        <b>Aucun article disponible</b>
                    </td>
                </tr>
        {% endfor %}
    </table>

{% endblock %}
