{% extends 'base.html.twig' %}
{% block title %}
Liste des commentaires
{% endblock %}
{% block body %}
    <div class="card text-center mt-3">
        <div class="card-header">
            <h3>Liste des commentaires pour l'article : <strong>{{ article_title }}</strong></h3><br>
            <cite>Dans la catégorie :  <span class="badge badge-info"> {{ article.category.name }}</span></cite>
        </div>
        <div class="card-body">
            {{ article.content }}
        </div>
        <div class="card-footer text-muted">
            Date : {{ article.publicationDate|date('d/m/Y H:i:s') }}
        </div>
    </div>

    <div class="text-right">
        <a href="{{ path('app_admin_article_index') }}" class="btn btn-outline-dark mt-3">Retour</a>
    </div>
    <div class="text-center mt-3">
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item list-group-item-success">
                {{ comment.content|nl2br  }}<br>
                Autheur : <strong> {{ comment.author }} </strong><br>
                Date : <strong>{{ comment.publicationDate|date('d/m/Y H:i:s') }}</strong>
                <p class="text-right">
                    <a href="{{ path('app_admin_article_deletecomment',{ 'id': comment.id }) }}" class="btn btn-danger">Supprimer</a>
                </p>
            </li>
                <br>

            {% endfor %}
        </ul>
    </div>
{% endblock %}



