{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edition d'un Article</h1>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    {{ form_row(form.image) }}
    <p>
        <b>Actuellement :</b>
        {% if original_image is not null %}
            <img src="{{ asset('images/'~ original_image) }}" height="200px">
            {% else %}
            Aucune Image
        {% endif %}
    </p>
    <div class="text-right">
        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
        <a href="{{ path('app_admin_article_index') }}" class="btn btn-secondary">Retour</a>
    </div>
    {{ form_end(form) }}


{% endblock %}

