{% extends 'base.html.twig' %}


{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>
    <div class="text-left">
        Par <strong>{{ article.author }}</strong>
        <h6>
        <em>Date de publication : <strong>{{ article.publicationDate|date('d/m/Y H:i') }}</strong></em></h6>

            <br>

        <cite>Dans </cite><a href="{{ path('app_category_index',{'id' : article.categoryId }) }}">
           {{ article.category }}
        </a>
    </div>
    {% if article.image is not null %}
        <div class="text-center">

            <img src="{{ asset('images/'~article.image) }}" width="25%">

        </div>
    {% endif %}
    <div class="text-center">
        <article class="mt-3">
            {{ article.content|nl2br }}
        </article>
    </div>

    {% if app.user %}
        {{ form_start(form_comment) }}
        {{ form_row(form_comment.content) }}

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Commenter</button>
        </div>
        {{ form_end(form_comment) }}
        {% else %}
        <div class="alert alert-info">
            Vous devez être connecté pour laisser un commentaire.
        </div>

    {% endif %}

    <br>
    {% if comments is not null %}
        {% for comment in comments %}
            <div class="text-center">
                <cite>{{ comment.content }}</cite>
                <p class="text-right">
                    Par : <b>{{ comment.author|nl2br }}</b><br>
                    <cite>Le : {{ comment.publicationDate|date('d/m/Y H:i:s') }}</cite>
                </p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
